:root {
    --color: #363636;
    --bcolor: #343953;
    --backgroundColor: #ebebeb;
    --blob: url('blob.svg');
    --modeColor: #d5d5d8;
    --dropShadow: drop-shadow(2px 2px 5px #d4d4d4);
    --bikeContainerColor: rgba(221, 223, 224, 0.8);
    --moveColor: linear-gradient(
        81deg,
        rgb(236, 240, 243) 0%,
        rgb(231, 235, 238) 71%
    );
    --colorButton: 1px solid rgba(153, 153, 153, 0.5);
    --homePageText: #fdfdfd;
}

.dark {
    --backgroundColor: rgba(0, 0, 0, 0.9);
    --bcolor: #ffffff;
    --pcolor: #dde1ee;
    --blob: url('blob_dark.svg');
    /* --modeColor: #343953; */
    --modeColor: rgba(53, 197, 243, 0.5);
    --dropShadow: drop-shadow(5px 4px 12px #0e0e0e);
    --bikeContainerColor: rgba(18, 18, 18, 0.6);
    --moveColor: linear-gradient(
        81deg,
        rgb(83, 83, 83) 0%,
        rgb(65, 64, 64) 71%
    );
    --colorButton: 1px solid rgba(229, 229, 225, 0.5);
    --hoverColor: #ebebeb;
    /* --homePageText: #fdfdfd; */
}

body {
    box-sizing: border-box;
    background: var(--backgroundColor);
    background-repeat: no-repeat;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1 {
    font-weight: 300;
    color: var(--pcolor);
    text-align: center;
}

p {
    font-weight: 300;
    color: var(--pcolor);
    text-align: center;
}

.container {
    /* margin-left: 400px; */
    background-color: var(--bikeContainerColor);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: var(--dropShadow);
    border: 1px solid rgba(116, 116, 116, 0.3);
}

.filter {
    height: 600px;
    margin-left: -100px;
}

.tab,
.tab2 {
    overflow: hidden;
    border: 1px solid transparent;
    background: transparent;
    width: 100px;
    margin: 0;
    color: var(--pcolor);
    letter-spacing: 2px;
}

.tabs {
    width: 300px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    filter: var(--dropShadow);
    bottom: 2em;
    position: relative;
    font-weight: lighter;
    color: var(--pcolor);
}

button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

button:hover {
    /* background-color: rgb(240, 238, 238); */
    color: rgb(53, 197, 243);
}

.tab.active,
.tab2.active {
    /* color: rgb(85, 83, 83); */
    color: var(--pcolor);
    outline: none;
    border-bottom: 1px solid rgb(53, 197, 243);
}

button:active {
    border: 1px solid white;
}

.tabcontent,
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 10em;
}

.default {
    display: flex;
    justify-content: space-around;
}

.color {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: auto;
    border: var(--colorButton);
}

#frame_blue,
#saddle_blue,
#fork_blue {
    background-color: #223061;
}

#frame_orange {
    background-color: #f68507;
}

#frame_green,
#saddle_green,
#barTape_green,
#rims_green,
#fork_green {
    background-color: #1a3f24;
}

#frame_red,
#saddle_red,
#barTape_red,
#fork_red,
#rims_red {
    background-color: #96060e;
}

#frame_asphalt,
#saddle_asphalt,
#lever_asphalt,
#barTape_asphalt,
#rims_asphalt,
#fork_asphalt {
    background-color: #353434;
}

#lever_black {
    background-color: #070707;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
}

@keyframes slide-up {
    from {
        margin-top: 0%;
    }
    to {
        margin-top: -40%;
    }
}

#test2 {
    animation: 0.3s slide-up;
}

.tabs2 {
    display: none;
    width: 300px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    filter: var(--dropShadow);
    font-weight: lighter;
    color: var(--pcolor);
}

.colorGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    /* top: 40%; */
    right: 5%;
}

#move {
    z-index: 2;
    position: relative;
    top: 10em;
    background: var(--moveColor);
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    /* filter: drop-shadow(5px 4px 12px #989fa3); */
    filter: var(--dropShadow);
    left: 100px;
    color: var(--pcolor);
    font-weight: lighter;
    letter-spacing: 2px;
    border: 1px solid rgba(116, 116, 116, 0.3);
}

#move:hover {
    background: rgb(53, 197, 243);
    color: #ffffff;
}

nav {
    width: 100%;
    float: right;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--pcolor);
    text-decoration: none;
    margin-right: 1em;
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
    text-align: center;
    z-index: 3;
}

a:hover {
    color: var(--hoverColor);
    text-decoration: none;
    cursor: pointer;
    z-index: 3;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(53, 197, 243);
    transition: width 0.25s ease-out;
    z-index: 3;
}
a:hover::before {
    width: 100%;
    z-index: 3;
}

.btn {
    cursor: pointer;
    background: var(--modeColor);
    color: var(--pcolor);
    padding: 4px 20px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    font-weight: lighter;
}

#path1 {
    fill: var(--blobColor);
}

.logo {
    height: 2em;
    top: 0;
}

.bikeContainer {
    height: 500px;
}
