body {
    box-sizing: border-box;
    background: rgb(40, 39, 34);
    background: linear-gradient(
        81deg,
        rgba(40, 39, 34, 1) 0%,
        rgba(66, 65, 57, 1) 65%
    );
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 400px;
    max-width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #a7b9b6;
    border-radius: 20px;
    resize: both;
    overflow: auto;
    filter: drop-shadow(1px 4px 12px #5b6463);
}
p {
    color: #eaf6f9;
    font-size: 1.5rem;
}
#width,
#height {
    color: #e47656;
    font-weight: 600;
}
