* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: #37434a; */
    background: #22292e;
}

.container {
    width: 900px;
    height: 500px;
    position: absolute;
    left: 15%;
    top: 15%;
    overflow: hidden;
    cursor: grab;
    filter: drop-shadow(1px 4px 12px #101820);
}
.before,
.after,
.before2 {
    height: 500px;
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
}
.divider {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: grab;
}
.before {
    overflow: hidden;
    border-right: 12px inset #cfdcda;
}
